{% extends "include/base.html" %}
{% block title %}
    <title>MONGO_QUERY</title>
{% endblock %}
{% block name %}
    欢迎使用MongoDB查询功能
{% endblock %}
{%block content%}
    <table >
        <form role="form" method='post'>
            <tr>
                <td>
                    </br>
                    </br>

                    {% csrf_token %}
                    CHOOSE :
                    {#                {%  if choosed_table %}#}
                    {#                    <select class="form-control col-md-1" name = "tablename">#}
                    {#                        <option value ="{{ choosed_table }}">{{ choosed_table }}</option>#}
                    {#                    </select></br>#}
                    {#                    <a href="/mongo_query/"><input type="button" value="重选数据源" class="btn btn-danger"></a>#}
                    {#                {% else %}#}
                    {#                    <select class="form-control col-md-1" name = "tablename">#}
                    {#                        {% for obj in tablelist %}#}
                    {#                            <option value ="{{ obj }}">{{ obj }}</option>#}
                    {#                        {% endfor %}#}
                    {#                    </select>#}
                    {#                {% endif %}#}

                    {%  if choosedb %}
                        {#                                <select class="form-control col-md-1" name = "cx">#}
                        {#                                    <option value ="{{ choosed_host }}">{{ choosed_host }}</option>#}
                        {#                                </select></br>#}
                        <select class="form-control col-md-1" name = "choosedb">
                            {% for obj in dblist %}
                                {% if obj == choosedb %}
                                    <option selected="selected" value ="{{ obj }}">{{ obj }}</option>
                                {% else %}
                                    <option value ="{{ obj }}">{{ obj }}</option>
                                {% endif %}
                            {% endfor %}
                        </select></br>
                        <a href="/mongodb/query/"><input type="button" value="刷新数据源" class="btn btn-danger"></a>
                    {% else %}
                        <select class="form-control col-md-1" name = "choosedb">
                            {% for obj in dblist %}
                                <option value ="{{ obj }}">{{ obj }}</option>
                            {% endfor %}
                        </select>
                    {% endif %}






                    </br>
                    <button type="submit" name='gettblist' class="btn btn-primary" value="1">查看表</button >
                    </br>

                    {%  if tblist %}
                        <select class="form-control col-md-1" name = "choosed_tb">
                            {% for obj in tblist %}
                                {% if obj == choosed_tb %}
                                    <option selected="selected" value ="{{ obj }}">{{ obj }}</option>
                                {% else %}
                                    <option value ="{{ obj }}">{{ obj }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>

                        请在下面输入查询语句:</br>
                        {{ form.a }} </br> </br>
                        <button type="submit" name='query' class="btn btn-primary" value="1">提交</button >
                    {% endif %}
                </td>
                {%  if tblist %}
                    <td>
                        <div class="col-md-12">
                            <h3>查询注意事项:</h3>
                            <p class="bg-danger"> 1. 支持单条语句查询，勿在框中重复输入多条sql语句</p>
                            <p> 2. 平台默认查询和导出限制都是200行
                            <p> 3. 导出数据，需提需求给DBA开通权限</p>
                            <p> 4. 查看数据结构:{}</p>
                            <p> 5. 简单匹配:{'telephone': 13800111101}</p>
                            <p> 6. 区间查询:{'updateTime':{'$gt':1470281159895,'$lt':1470281159897}}</p>
                        </div>
                    </td>
                {% endif %}
            </tr>
        </form>




    </table>

    </br>
    {% if col %}
        {% include "include/pagejump/pagebutton.html" %}
        </br>
        <table  class="table table-condensed" border="1">
            <tr class="danger">
                Records
            </tr>
        </table>
    {% endif %}

    <table id="mytable" class="table table-condensed" border="1">
        <tbody  >
        {% for item in data_list %}
            <tr>
                <td> {{ item  }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
{% block script %}
    {% include "include/pagejump/pagejump.html" %}
{% endblock %}

