{% extends "include/base.html" %}
{% block title %}
    <title>PRE_QUERY</title>
{% endblock %}
{% block name %}
    欢迎使用权限查询功能
{% endblock %}
{%block content%}
    <table >
        <tr>
            <td>
                </br>
                </br>
                <form role="form" method='post'>
                    {% csrf_token %}
                    CHOOSE :
                    {%  if choosed_host %}
                        <select class="form-control col-md-1" name = "cx">
                            <option value ="{{ choosed_host }}">{{ choosed_host }}</option>
                        </select></br>
                        <a href="/pre_query/"><input type="button" value="重选DB" class="btn btn-danger"></a>
                    {% else %}
                        <select class="form-control col-md-1" name = "cx">
                            {% for obj in objlist %}
                                <option value ="{{ obj }}">{{ obj }}</option>
                            {% endfor %}
                        </select>
                        </br> </br>
                    {% endif %}

                    <input type=="text" class="form-control" placeholder="input username for query" name="accountname">
                    <button type="submit" name="commit"  class="btn btn-primary">查询</button >
                </form >
            </td>
            <td>
                <div class="col-md-12">
                    <h1>注意事项:</h1>
                    <p class="bg-danger"> 1. 可以按库来查询，也可以按用户名查询</p>
                    <p class="bg-success"> 2. 默认如果用户名输入框为空时，按照库来查询权限</p>
                    <p class="bg-danger"> 3. 如果用户名输入有问题，默认返回当前用户的权限</p>
                </div>
            </td>
        </tr>
    </table>
    {% if ins_list %}
        <table id="instable" class="table table-condensed" border="1">
            <thead>
            <tr class="danger">
                <th>IP_ADDRESS</th>
                <th>DB_PORT</th>
                <th>INSTANCE_ROLE</th>
            </tr>
            </thead>
            <tbody  >
            {% for item in ins_list %}
                <tr>
                    <td> {{ item.ip }}</td>
                    <td> {{ item.port }}</td>
                    <td> {{ item.role }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if acc %}
        <table id="account" class="table table-condensed" border="1">
            <thead>
            <tr class="danger">
                <th>USERACCOUNT</th>
            </tr>
            </thead>
            <tbody  >
            {% for account in acc %}
                <tr>
                    <td> {{ account.username }}  </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if data_list %}
        {% include "include/pagejump/pagebutton.html" %}
        <table id="mytable" class="table table-condensed" border="1">
            <thead>
            <tr class="danger">
                <th>TAG + ROLE</th>
                <th>DB_ACCOUNT</th>
                <th>DBNAME</th>
                <th>USER_ACCOUNT</th>
            </tr>
            </thead>
            <tbody  >
            {% for item in data_list %}
                <tr>
                    <td> {{ item.tags }} + {{ item.role }}</td>
                    <td> {{ item.user }}</td>
                    <td>
                        {% for i in item.dbname.all %}
                            {{i.dbtag}}+{{ i.dbname }} </br>
                        {% endfor %}
                    </td>
                    <td>
                        {% for i in item.account.all %}
                            {{i.username}} </br>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if userdblist %}
        {{ info }}
        <table id="userlist" class="table table-condensed" border="1">
            <thead>
            <tr class="danger">
                <th>DBTAG</th>
                <th>DBNAME</th>
                <th>INSTANCE</th>
                <th>USER FOR THIS DB</th>
            </tr>
            </thead>
            <tbody  >
            {% for db in userdblist %}
                <tr>
                    <td> {{ db.dbtag }}  </td>
                    <td> {{ db.dbname }}  </td>
                    <td>
                        {% for i in db.instance.all %}
                            {{i.ip}} + {{ i.port }} +{{ i.role }} </br>
                        {% endfor %}
                    </td>
                    <td>
                        {% for i in db.account.all %}
                            {{i.username}} </br>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}



{% endblock %}
{% block script %}
    {% include "include/pagejump/pagejump.html" %}
{% endblock %}
